$tablet: '(min-width: 767px)';
$landscape: '(orientation: landscape)';

html, body, .images{
	height: 100%;
	width: 100%;
	margin: 0;
	font-family: Helvetica;
	font-size: 16px;
}
a{
	color: inherit;
	text-decoration: none;
	&:hover{
		text-decoration: underline;

	}
}
.img-container{
	display: none;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	transition: all 0.1s;
	.info-open &{
		filter: blur(3px);
		#filter: url(#blur);
	 	filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='3');
	}
}

.ui{
	position: fixed;
	left: 15px;
	bottom: 10px;
	z-index: 1000;
}

h1, h2{
	margin: 0;
  font-size: 1em;
  font-weight: normal;
}
.info{
	display: inline-block;
	position: relative;
	&:hover, .info-open &{
		.info-details{
			display: flex;
		}
	}
}
	.info-details{
		display: none;
		padding: 5px 10px;
		color: #111111;
		background-color: white;
		position: absolute;
		bottom: 2.7rem;
		width: calc(100vw - 50px);
		flex-flow: column;
		max-height: calc(100vh - 80px);
		overflow: auto;
		@media #{$tablet}{
			width: 40ch;
		}
		@media #{$landscape} and (max-width: 991px){
			flex-flow: row wrap;
			max-width: 70vw;
			width: 80vw!important;
			justify-content: space-between;
			.section{
				flex: 0 0 calc(50% - 30px);
			}
		}

	}
.trigger{
	display: inline-block;
	cursor: pointer;
	overflow: hidden;
	color: white;
	font-size: 1.6rem;
	background: black;
	padding: 5px 10px;
	font-weight: bold;
	&:hover{
		text-decoration: none;
	}
}

.page{
	display: none;
	&:first-child{
		display: inline-block;
	}
	.pager{
		text-align: right;
		padding: 0 5px;
	}
	.prev, .next{
		cursor: pointer;
	}
}

.loading{
	background: #111111;
}
.loader{
	.loading &:after{
		content: 'A';
		animation: loading infinite ease-out 1s;
	}
	&:after{
		display: inline-block;
		position: fixed;
		top: 50vh;
		left: 50vw;
		transform: translate3D(-50%, -50%, 0);
		content: '';
		font-size: 5rem;
		color: white;
	}
}

p{
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
	padding: 5px 0px;
}


@keyframes loading{
  from{
    transform: translate3D(-50%, -50%, 0) rotateY(0deg) ;
  }
  to {
    transform: translate3D(-50%, -50%, 0) rotateY(360deg);
  }
}

svg {
  position:absolute;
  left:-999px;
}

table{
	border-spacing: 0;
}

@media #{$landscape} and (max-width: 991px){
	.hidden-landscape{
		display: none!important;
	}
}
